@import "variables.scss";

// General Reset
*,*::before, *::after{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,p, body, html, ul{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

ul{
    list-style: none;
}

body{
    background-color: $bg-light;
    font-family: monospace;
    color: white;
    font-size: 0.8rem;
    
}

input{
    font-family: monospace;
    width: 100%;
}

img{
    width: 100%;
    display: block;
}

// Utility Classes
.flex{
    display: flex;
}

.grid{
    display: grid;
}

.muted-white{
    color: $muted-white;
}

.bg-dark{
    background-color: $bg-dark;
}

.bg-light{
    background-color: $bg-light;
}

// Classes
.App{
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 700px;
    padding: 2em;

    > *{
        margin: 0.5em 0;
    }
}

@media (min-width: 1000px) {
    .App{
        max-width: 900px;
        
    }
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo > h1{
        font-size: 2rem;
    }

    button{
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
    }

    .theme-container{
        align-items: center;

        p{
            
            font-family: 'Teko', sans-serif;
            text-transform: uppercase;
            font-size: 1.5em;
            letter-spacing: 2px;
        }
        >*{
            margin: 0 0.5em;
        }
    }
}

.search-bar{
    background-color: $bg-container-dark;
    padding: 0.5em 0.5em;
    justify-content: space-between;
    font-size: 1.5em;
    border-radius: $border-radius;
    .left{
        width: 100%;
        align-items: center;

        > *:first-child{
            margin-right: 0.5em;
        }
    }

    *{
        font-size: 0.8em;
    }

    input{
        border: none;
        background: transparent;
        outline: none;
        caret-color: white;
        color: white;
    }

    input:focus{
        border: none;
    }

    button{
        border: none;
        background-color: $blue-accent;
        color: white;
        border-radius: $border-radius;
        padding: 1em 1.5em;
        
    }
}

@media (min-width: $tablet-size) {
    .search-bar{
        padding: 0.5em 1em;
        
    }
}

.profile-container{
    display: flex;
    flex-flow: column nowrap;
    background-color: $bg-container-dark;
    padding: 2em;
    border-radius: $border-radius;
    > *{
        margin: 1em 0;
    }
}

@media (min-width: 1000px) {
    .profile-container{
        padding: 2em;
        
    }
}

.avatar-container{
    max-width: 100px;
    width: 100%;
    margin-right: 1em;
    img{
        border-radius: 50%;
    }
    
}

@media (min-width: $tablet-size) {
    .avatar-container{
        max-width: 150px;
    }
}

.section-1{
    flex-flow: row nowrap;
    width: 100%;
    
    align-items: center;
}

.names{
    flex-flow:column nowrap;
    a {
        text-decoration: none;
        color: rgb(2, 120, 255);
    }
}

.profile-name{
    font-size:1.2em;
}

@media (min-width: 1000px) {
    .section-1{
        align-items: flex-start;
    }

    .names{
        width: 100%;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .bio{
        margin-top: -2em;
        margin-left: calc(150px + 1em);
    }

    .profile-name{
        font-size: 1.7em;
    }
}



.stats-container{
    grid-template-columns: repeat(3, 1fr);
    padding: 1em 0.5em;
    gap: 0.5em;
    
    border-radius: $border-radius;
    text-align: center;
    place-items: center;
}

@media (min-width: $tablet-size) {
    .stats-container{
        text-align: left;
        place-items: start;
        padding: 1em;
    }
}

@media (min-width: 1000px) {
    .stats-container{
        margin-left: calc(150px + 1em);
    }
}



.stat-formatting span{
    display: block;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.misc-item{
    align-items: center;
    :first-child{
        margin-right: 0.5em;
        fill: white;
    }
}

.miscellaneous{
    grid-template-rows: repeat(4, 1fr);
    gap: 0.5em;
    
}

@media (min-width: $tablet-size) {
    .miscellaneous{
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) {
    .miscellaneous{
        margin-left: calc(150px + 1em);
    }
}

@media (min-width: $tablet-size) {
    body{
        font-size: 1.5em;
    }

    .theme-container{
        font-size: 1.3em;
    }
}

// Themes

@mixin theme($bg-color, $container-color, $txt-color) {
    .header{
        color: $txt-color;
    }
    .profile-container{
        background-color: $container-color;
    }
    .theme-container{
        color: $txt-color;
    }
    .stats-container{
        background-color: $bg-color;
    } 
}

.dark-theme{
    @include theme($dark-theme...);
}

.light-theme{
    @include theme($light-theme...);
}