// Media size breakpoints
$tablet-size: 600px;
$desktop-size: 1000px;

// Background-colors

$bg-light: lavender;


$bg-dark: rgb(20, 31, 56);

$bg-container-dark: rgb(33, 49, 87);


// Text colors
$muted-white: rgb(189, 189, 189);
$light-accent-text: #4b6a9b;
//accent color
$blue-accent: rgb(61, 137, 250);


$border-radius: 10px;

// Themes

$dark-theme: $bg-dark, $bg-container-dark, white, white, white;

$light-theme: $bg-light, white, $light-accent-text, $light-accent-text, black;

// Transition time

$transition-time: 0.5s;
